body {
  font-family: 'Open Sans', helvetica, sans;
}

a {
  text-decoration: none;
  color: #1F5DAD;
}

a:hover {
  text-decoration: underline;
  color: #AD581F;
}

strong {
  font-weight: bold;
}

div.page {
  margin-left: 4em;
  margin-right: auto;
  width: 700px;
}

div#header {
  margin-top: 20px;
  border-bottom: 1px solid #aaaaaa;
  padding-left: 5px;
  padding-right: 5px;
}

a.title {
  font-size: 1.7em;
  font-family: 'Georgia', georgia, serif;
  text-decoration: none;
  color: #296494;
  line-height: 2em;
}

a.title:hover {
  color: #912929;
}

a.extra {
  font-size: 1em;
  text-decoration: none;
  color: #555555;
  line-height: 2em;
  margin-left: 1.5em;
}

a.extra:hover {
  color: #912929;
}

ul.index {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 10px;
}

ul.index li {
  width: 60%;
  color: #333333;
}

ul.index li a {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Georgia', georgia, serif;
  font-style: italic;
  color: #C71818;
}

ul.index li a:hover {
  color: #E0841B;
}

ul.index li a:visited {
  color: #8B54AB;
}

ul.index li a:visited:hover {
  color: #E0841B;
}

ul.index li p {
  line-height: 1.5em;
  font-size: 1em;
  margin-top: 10px;
}

div#index {
  padding-top: 15px;
  padding-left: 20px;
}

div#index h1 {
  font-size: 1.2em;
  color: #729E55;
}

div#footer {
  padding-top: 15px;
  padding-left: 35px;
  color: #444444;
  border-top: 1px solid #aaaaaa;
  margin-top: 25px;
  font-size: 0.9em;
  margin-bottom: 70px;
}

div#footer ul li {
  list-style-type: none;
  line-height: 1.7em;
}

div#post h1 {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  left: -5px;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Georgia', georgia, serif;
  font-style: italic;
  color: #C71818;
}

div#post h2 {
  display: block;
  margin-top: 25px;
  margin-bottom: -5px;
  text-decoration: none;
  font-size: 1.3em;
  font-family: 'Georgia', georgia, serif;
  color: #2E8726;
}

div#post p {
  line-height: 1.5em;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

div#post em {
  font-style: italic;
}

div#post li {
  list-style-type: disc;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

div#related {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #aaaaaa;
  width: 60%;
}

div#related h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

div#related ul {
  line-height: 1.5em;
  margin-left: 5px;
}

div#related a {
  font-size: 1.0em;
  text-decoration: none;
  color: #296494;
}

div#related a:hover {
  color: #912929;
}

div.gist {
  font-size: 12px;
  line-height: 1.4em;
}
