@import "/css/common.less";

html, body{
  width: 100%;
  height: 100%;

  font-size: 1.5em;
  font-family: @DM-font-family;
  line-height: @DM-line-height;
}

div.ruled {
  background-image: url('/images/baseline_24px.png');
}

@media only screen and (min-width: 1024px) {
  html, body {
    font-size: 1em !important;
  }

  div.main {
    width: @DM-main-text-width !important;
  }
}

div#header-logo {
  background-color: @lightGreen;
  padding: 1.5em 0 1.25em 0;

  a {
    text-decoration: none;
  }

  h1 {
    font-family: @DM-font-family;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0 @DM-gutter 0 @DM-gutter; 
    line-height: 1.5em;

    color: @covetedBlue;
    transition: color 0.5s;
  }

  h1:hover {
    color: @covetedBrightBlue;
    transition: color 0.75s;
  }

  h2 {
    font-family: @DM-font-family;
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
    margin: 0 @DM-gutter 0 @DM-gutter; 
    line-height: 1;

    color: @darkParchment;
  }
}

div.main {
  display: block;
  width: 100%;
  .DM-box-sizing-stack;

  margin: 0 auto 1.5em auto;

  div#main-navbar {
    width: 100%;
    text-align: center;

    padding-top: 1.75em;
    border-bottom: 1px solid @lightGrey;
    margin-bottom: -1px;
    padding-bottom: 1.25em;

    a {
      text-decoration: none;
      display: inline-block;
      padding: 0 @DM-gutter;
      margin-left: @DM-gutter;

      color: @pastelBlue;
      transition: color 0.5s;
    }

    a:first-child {
      margin-left: 0;
    }

    a:hover {
      color: @pastelGreen;
      transition: color 0.5s;
    }
  }

  div.author {
    font-style: italic;
    font-size: 0.9em;

    margin-left: @DM-gutter;
    margin-bottom: 4 * @DM-gutter;
  }
}

div.post {
  div.imgcon {
    margin: 1em 0;

    img {
      width: 100%;
    }

    span.caption {
      padding: @DM-gutter;
      
      display: block;
      background-color: @lightGrey;
    }
  }

  div.gist-file {
    font-size: 0.75em;
    margin-left: @DM-gutter * 4;
  }
}
