body {
    margin: 0;
    font-family: helvetica, arial, verdana;
    background: url('/media/im/background.png') repeat-x #ffffff;
}

div.page {
    width: 770px;
    margin: auto;
}

h1 {
    font-weight: none;
    color: #444444;
    font-size: 12pt;
}

h1.container_inner_heading {
    font-size: 11pt;
    display: block;
    border-bottom: 1px solid #aaaaaa;
    padding-left: 10px;
}

div.content {
    margin-top: 20px;
} 

.header {
    margin-top: 50px;
    font-size: 13pt;
    color: #9B2414;
    padding-top: 50px;
}
a.title {
    color: #9b2414;
    text-decoration: none;
    font-size: 1.2em;
}
a.title:hover {
    color: #444444;
}
a.extras {
    color: #008800;
    text-decoration: none;
    margin-left: 30px;
    font-size: 11pt;
}
a.extras:hover {
    color: #00bb00;
}

.left_container {
    float: left;
    width: 500px;
    min-height: 500px;
}
.right_container {
    float: left;
    margin-left: 10px;
    width: 250px;
}

.footer_wrapper {
    font-size: 9pt;
    color: #555555;
    background: url('/media/im/footer.png') repeat-x #ffffff;
    min-height: 200px;
    clear: both;
}

.footer {
    padding-left: 5px;
    display: inline-block;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
li {
    margin-top: 5px;
}

ul.contact {
    margin-left: 5px;
    margin-top: 5px;
}

.small {
    font-size: 9pt;
}

div.index_post_entry {
    font-size:10pt;
    padding-left: 15px;
    text-align: justify;
}
h3.index_post_title {
    font-size:11pt;
    margin-top:0px;
    color: #882200;
    margin-bottom:0px;
}
p.index_post_excerpt {
    margin-top:0px;
    margin-bottom:15px;
}
a.index_post_title {
    color: #882200;
    text-decoration: none;
}
a.index_post_title:hover {
    color: #008800;
    }

.post {
    margin-bottom: 50px;
}
.index_post_title_green {
    color: #008800;
    text-decoration: none;
}
.index_post_title_green:hover {
    color: #ff4400;
}
