<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  </head>
  <body>
    <div class="page" id="header">
      <a href="/" class="title">Dipanjan Mukherjee</a>
      <a href="/" class="extra">home</a>
      <a href="http://github.com/schatten/" class="extra">projects</a>
      <a href="resume" class="extra">resume</a>
    </div>

    <div class="page" id="index">
      {{ content }}
   </div>
    <div class="page" id="footer">
      <ul>
        <li>Dipanjan Mukherjee</li>
        <li>Student, programmer, minimalist</li>
        <li>dipanjan.mu@gmail.com</li>
      </ul>
    </div>
  </body>
</html>

