<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://raw.github.com/necolas/normalize.css/master/normalize.css"/>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet/less" type="text/css" href="/css/reset.less">
    <link rel="stylesheet/less" type="text/css" href="/css/client.less">
    <link rel="stylesheet/less" media="print" type="text/css" href="/css/print.less">
    <script src="/js/less.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="top-mast" class="page">
      <div id="logo" class="column">
        <header>
        <h1><a href="/">
            <span class="light">Dipanjan</span>
            <br>
            <span class="dark">Mukherjee</span>
        </a></h1>
        </header>
      </div>
      <div id="navigation" class="column">
        <ul>
          <li><a href="/" class="navigation-link">Home</a></li>
          <li><a href="http://github.com/schatten/" class="navigation-link">Projects</a></li>
          <li><a href="/about" class="navigation-link">About</a></li>
        </ul>
      </div>
    </div>

    <div class="page" id="main">
      {{ content }}
   </div>
    <div class="page" id="footer">
      <p>Dipanjan Mukherjee's space on the web.</p>
      <p>I am a programmer, a student, and hopefully, a minimalist.</p>
    </div>
  </body>
</html>

